        <span class="header-topic-before">
        <MountWidget
          @widget="vote-box"
          @args={{this.topic}}
          @showLogin={{route-action "showLogin"}}
        />
        </span>
